@gray:       #a3a6ad;
@yellow:     rgba(249, 201, 51, 0.8);
@red:        #ff4136;


textarea { resize:none; }

input {
  &.h2 {
    height:60px;
  }
}

#Surface {
  margin-bottom:100px;
}

#login-dropdown-list {
  top:0px;
  right:0px;
  left: inherit;
}

.profile-avatar {
  width:160px;
  height:160px;

  .avatar-initials {
    line-height:160px;
  }
}

.avatar-low-small {
  width:24px;
  height:24px;

  .avatar-initials {
    font-size:11px;
    line-height:24px;
  }
}

.fa-star-o {
  cursor:pointer;
  color: @gray;
}

.fa-star:extend(.fa-star-o) {
  color: @yellow;
}

.CodeMirror {
  min-height:100px;
  height:auto;
  font-size:15px;
  z-index:1;
}

.form-group {
  position:relative;

  .help-block {
    color: @red;
    position:absolute;
    right: 17px;
    top: 9px;
    font-size: 13px;
  }

  .big {
    height:60px;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #444851;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


#Search {
  margin-top:100px;
  position:relative;
  z-index:1;

  .spinner {
    margin:30px auto; 
  }
}

.bg-charcoal {
  position:fixed;
  bottom:0px;
  z-index:2;
}
