@gray:       #a3a6ad;
@yellow:     rgba(249, 201, 51, 0.8);

#Surface { }

#login-dropdown-list {
  top:0px;
  right:0px;
  left: inherit;
}

.profile-avatar {
  width:160px;
  height:160px;

  .avatar-initials {
    line-height:160px;
  }
}

.avatar-low-small {
  width:24px;
  height:24px;

  .avatar-initials {
    font-size:11px;
    line-height:24px;
  }
}

textarea {
  resize:none;
}

.fa-star-o {
  cursor:pointer;
  color: @gray;
}

.fa-star:extend(.fa-star-o) {
  color: @yellow;
}
