#Surface { }

#login-dropdown-list {
  top:0px;
  right:0px;
  left: inherit;
}

.profile-avatar {
  width:160px;
  height:160px;

  .avatar-initials {
    line-height:160px;
  }
}

textarea {
  resize:none;
}
